rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    // دالة التحقق من تسجيل الدخول
    function isAuthenticated() {
      return request.auth != null;
    }

    // مجلد الصور الشخصية للمستخدمين
    match /profile_pictures/{userId}/{allPaths=**} {
      allow read: if true; // عامة لتظهر في حساباتهم والخدمات
      allow write: if isAuthenticated() && request.auth.uid == userId;
    }

    // ملفات وصور الشات والمحادثات
    match /chat_attachments/{conversationId}/{allPaths=**} {
      allow read, write: if isAuthenticated(); // الأمان الإضافي يتم إدارته من منطق فحص المحادثة برمجياً
    }
  }
}